@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Rubik:wght@300;400;500;600;700&display=swap');

/* Set background dividing sections start */
#home {
    background-color: #2b2b2b;
}

#intro {
    background-color: #2b2b2b;
}

#about {
    background-color: #dadada;
}

#project {
    background-color: cadetblue;
}

#contact {
    background-color: coral;
}
/* Set background dividing sections end */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



/* Intro Section Start */
#intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(image/intro-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    color:white;
    text-align: center;
    z-index: 1;
}

#intro::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .2;
    z-index: -1;
}

h1.intro{
    font-size: 90px;
    font-weight: 500;
    position: relative;
}

div.container div.intro-text {
    margin-top: 1rem;
    display: block;
    min-height: 60px;
}

#intro-text {
    font-size: 60px;
	display: inline-block;
	vertical-align: middle;
	color: white;
	letter-spacing: 2px;
}

#intro .cta {
    position: block;
    display: inline-block;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #333456;
    border-radius: 10px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease background-color;
    background-color: transparent;
    transition-property: background-color, color;
}

#intro .cta:hover {
    color: #333456;
    background-color: white;
}



/* About Section Start */
.about {
    padding-top: 3rem;
    align-items: center;
}
.about-box {
    padding: 5vh;
    background-color: white;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 10px 10px 5px #aaaaaa;
}

.about-box-item {
    margin: 5px;
    font-size: 2vw;
    color: black;
    text-align: left;
    flex-basis: 400px;
    flex-grow: 1;
}

.about-item-left p {
    margin-top: 2vh;
}

.about-item-right {
    text-align: center;
}

.center-img {
    margin-top: 3vh;
}
.about-item-right img {
    height: auto;
    width: 70%;
    max-width: 300px;
}

.about-item-skill {
    margin-top: 1.5rem;
    flex: 0 0 100%;
}
.about-item-skill h1 {
    font-size: 1.5em;
}

.about-item-skill table {
    font-size: .9em;
    margin: 0 auto;
    margin-top: .8rem;
}

.index-column {
    padding: .5rem 1.5rem .5rem .5rem;
}

.icon {   
    height: .9em;
    width: .9em;
    display: inline-block;
}

.numpy {
    background: url('image/numpy-icon.svg');
    background-size: .9em;
    background-repeat: no-repeat;
}

.pandas {
    background: url("image/pandas_mark.svg");
    background-size: .9em;
    background-repeat: no-repeat;
}

.about-item-resume {
    padding: 1rem;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-about {
    color: #333456;
    background-color: white;
    padding: .2em .4em;
    background-color: white;
    border: .15em solid #333456;
    border-radius: .3em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease background-color;
    background-color: transparent;
    transition-property: background-color, color;
}

.resume-about:hover {
    color: white;
    background-color: #333456;
}

/* About Section End */