@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    background-color: #dadada;
}

a {
    text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



/* Navbar Section Start */
.header {
    background-color: transparent;
    transition: background-color 0.3s;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}


.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
}

.navbar-content a {
    color: #edf0f1;
    transition: all 0.3s ease 0s;
}

.navbar-content a:hover {
    color: rgb(159, 202, 202);
    transform: scale(1.1);
}

.navbar-page-content li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar-page-content li a {
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.navbar-page-content li a:hover {
    color: rgb(159, 202, 202);
    transform: scale(1.1);
}

nav.change-color {
    background-color: white;
}

nav.change-color a{
    color: black;
}
/* Navbar Section End */



/* Intro Section Start */
#intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(image/intro-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    color:white;
    text-align: center;
    z-index: 1;
}

#intro::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .2;
    z-index: -1;
}

h1.intro{
    font-size: 90px;
    font-weight: 500;
    position: relative;
}

div.container div.intro-text {
    margin-top: 1rem;
    display: block;
    min-height: 60px;
}

#intro-text {
    font-size: 60px;
	display: inline-block;
	vertical-align: middle;
	color: white;
	letter-spacing: 2px;
}

#intro .cta {
    position: block;
    display: inline-block;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #333456;
    border-radius: 10px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease background-color;
    background-color: transparent;
    transition-property: background-color, color;
}

#intro .cta:hover {
    color: #333456;
    background-color: white;
}



/* About Section Start */
.about-title {
    padding-top: 6.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
}

.about {
    padding-top: 3rem;
    align-items: center;
}
.about-box {
    padding: 5vh;
    background-color: white;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 10px;
}

.about-box-item {
    margin: 5px;
    font-size: 2vw;
    color: black;
    text-align: left;
    flex-basis: 400px;
    flex-grow: 1;
}

.intro-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@media screen and (max-width: 480px) {
    .intro-pic {
        flex-wrap: wrap;
    }
}

.about-item-left p {
    margin-top: 2vh;
    margin-right: 10px;
}

.about-item-right {
    text-align: center;
}

.center-img {
    margin-top: 3vh;
}
.about-item-right img {
    height: auto;
    width: 350px;
}

@media screen and (max-width: 768px) {
    .about-item-right img {
        height: auto;
        width: 150px;
    }
}

.about-item-skill {
    margin-top: 1.5rem;
    flex: 0 0 100%;
}
.about-item-skill h1 {
    font-size: 1.5em;
}

.about-item-skill table {
    font-size: .9em;
    margin: 0 auto;
    margin-top: .8rem;
}

.index-column {
    padding: .5rem 1.5rem .5rem .5rem;
}

.icon {   
    height: .9em;
    width: .9em;
    display: inline-block;
}

.fab:hover{
    cursor: pointer;
}

.numpy {
    background: url('image/numpy-icon.svg');
    background-size: .9em;
    background-repeat: no-repeat;
}

.numpy:hover{
    cursor: pointer;
}

.pandas {
    background: url("image/pandas_mark.svg");
    background-size: .9em;
    background-repeat: no-repeat;
}

.pandas:hover {
    cursor: pointer;
}

.about-item-resume {
    padding: 1rem;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-about {
    color: #333456;
    background-color: white;
    padding: .2em .4em;
    background-color: white;
    border: .15em solid #333456;
    border-radius: .3em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease background-color;
    background-color: transparent;
    transition-property: background-color, color;
}

.resume-about:hover {
    color: white;
    background-color: #333456;
}

/* About Section End */



/* Project Section Start */
.project-title {
    padding-top: 6.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
}

.project-title p {
    font-size: 0.8em;
}

.project-container {
    margin: 5%;
    min-height: 100vh;
    padding: 0% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 1.5em;
    grid-template-areas: 
        "project1 project2" 
        "project3 project3";
}

.project-item {
    display: grid;
    grid-template-rows: 0.7fr 0.3fr;
    grid-template-areas: "image" "description";
}

.project-1 {
    grid-area: project1;
}

.project-2 {
    grid-area: project2;
}

.project-3 {
    grid-area: project3;
}

.project-text {
    grid-area: description;
    background-color: white;
}

.image-holder {
    grid-area: image;
    overflow: hidden;
}

.project-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(image/intro-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.project-image::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .2;
    z-index: -1;
}

.project-image:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.project-1 .image-holder .project-image {
    background-image: url(image/project1.png);
}

.project-2 .image-holder .project-image {
    background-image: url(image/project2.png);
}

.project-3 .image-holder .project-image {
    background-image: url(image/project3.png);
}

